{%extends 'main.html'%}

{% block content%}
<h1>Lista de Lixeiras</h1>
<ul>
    {% for lixeira in lixeiras %}
        <li>
            <strong>Localização:</strong> {{ lixeira.localizacao }}<br>
            <strong>Tipo de Resíduo:</strong> {{ lixeira.tipo_residuo }}<br>
            <strong>Capacidade Máxima:</strong> {{ lixeira.capacidade_maxima }} kg<br>
            <strong>Estado Atual:</strong> {{ lixeira.estado_atual }} kg<br>
            <strong>Progresso:</strong> {{ lixeira.get_progresso }}%<br>
            <strong>Status de Manutenção:</strong> {% if lixeira.status_manutencao %}Sim{% else %}Não{% endif %}
        </li>
    {% endfor %}
</ul>
  
    {%endblock content%}