<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lixeiras</title>
</head>
<body>
    <h1>Lixeiras</h1>
    <ul>
        {% for lixeira in lixeiras %}
        <br>
            <li>
                <strong>Localização:</strong> {{ lixeira.localizacao }}<br>
                <strong>Tipo de resíduo:</strong> {{ lixeira.get_tipo_residuo_display }}<br>
                <strong>Capacidade máxima:</strong> {{ lixeira.capacidade_maxima }} kg<br>
                <strong>Estado atual:</strong> {{ lixeira.estado_atual }} kg<br>

                <strong>Progresso:</strong> {{ lixeira.get_progresso }}%
                <progress value="{{ lixeira.get_progresso }}" max="100"></progress><br>

                {% if lixeira.status_manutencao %}
                    <strong>Status de manutenção:</strong> Requer manutenção<br>
                {% else %}
                    <strong>Status de manutenção:</strong> Não requer manutenção<br>
                {% endif %}
            </li>
            <br>
        {% endfor %}
    </ul>

    <h2>Avisos de Manutenção</h2>
    <ul>
        {% for aviso in avisos %}
        <br>
            <li>
                <strong>Lixeira:</strong> {{ aviso.lixeira }}<br>
                <strong>Data e Hora:</strong> {{ aviso.data_hora }}<br>
                <strong>Motivo:</strong> {{ aviso.motivo }}<br>
                <strong>Técnico Responsável:</strong> {{ aviso.tecnico_responsavel }}<br>
            </li>
            <br>
        {% endfor %}
    </ul>
</body>
</html>
