.green-color{
    text-align: center;
}
#bairroChart{
    width: 400;
    height: 150;
}

@media only screen and (max-width: 768px) {
    #bairroChart{
        width: 200;
        height: 300px !important;
    }
}   