.home-filtro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    height: auto;
    margin: 2vh auto;
  }
  .home-filtro select{
    padding: 3px;
    border-radius: 10px;
  }
  #botao-filtro{
    border-radius:10px ;
  }
  @media (min-width: 600px) {
    .card {
      padding: 2rem;
    }
    .info input, .info textarea {
      padding: 0.75rem;
    }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 4%;
  width: 90%;
  height: auto;
  margin: 2vh auto;
}

.barra-progresso{
  background-color: forestgreen;
}