    .custom-card {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        margin: 5px;
        margin-bottom: 20px;
        background-color: #f9f9f9;
        width: calc(50% - 20px); /* Definindo o tamanho das colunas */
        display: inline-block;
        vertical-align: top; /* Alinhamento ao topo */
        box-sizing: border-box;
    }

    /* Estilos para os ícones SVG */
    .custom-icon {
        width: 30px;
        height: 30px;
        fill: #ff0000; /* Cor vermelha para indicar urgência */
        margin-right: 10px;
    }

    .custom-icon-maintenance {
        fill: #007bff; /* Cor azul para indicar manutenção */
    }


    /* Centralizar conteúdo */
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    /* Estilos para os títulos */
    h1, h2 {
        margin-top: 40px;
    }
