/* Estilização geral para o container do formulário */
.cadastro-container {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Estilização para o título do formulário */
.cadastro-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

/* Estilização para os rótulos dos campos */
.cadastro-container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

/* Estilização para os campos de entrada */
.cadastro-container input[type="text"],
.cadastro-container input[type="email"],
.cadastro-container input[type="number"],
.cadastro-container input[type="password"],
.cadastro-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

/* Estilização para o botão de enviar */
.cadastro-container .custom-button {
  width: 20%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cadastro-container .custom-button:hover {
  background-color: #0056b3;
}

/* Estilização para dispositivos móveis */
@media (max-width: 600px) {
  .cadastro-container {
      padding: 10px;
  }
  
  .cadastro-container h2 {
      font-size: 20px;
  }
  
  .cadastro-container .custom-button {
      font-size: 14px;
  }
}

