
.custom-form-container {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.custom-form-container h2 {
  text-align: center;
  color: #518C55;
}

.custom-form-container label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.custom-form-container select,
.custom-form-container input {
  width: 100%;
  padding: 10px;
  border-radius: 20px !important;
  margin-bottom: 15px;
  border: 2px solid #518C55;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.custom-form-container button {
  background-color: #ADE25A;
  font-weight: bold;
  color: #000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
  padding: 10px 20px;
  width: 40%;
  margin: 0 auto;
  display: block;
  box-shadow: 0 4px 6px #807f7f ; /* Ajuste do box-shadow */

}

.custom-form-container button:hover {
  background-color: #8eb450;
}

/* Alerta de mensagem */
.alert {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
}


/* Responsividade */
@media (max-width: 768px) {
  .custom-form-container {
    width: 90%;
  }

  .custom-form-container button {
    width: 70%;
  }
}