
.container {
    max-width: 600px;
    margin: 0 auto;
}
.card {
    border: 2px solid #a3d392;
    border-radius: 15px;
}
.card-header h3 {
    color: green ;
    font-size: 24px;
}
.form-group label {
    font-size: 18px;
}
.form-control {
    border-radius: 10px;
}
.custom-border {
    border: 2px solid #a3d392 !important;
}
.form-group {
    position: relative;
}
.form-group:last-of-type {
    margin-bottom: 40px; /* Ajuste conforme necessário para espaçamento */
}
.btn {
    background-color: #a3d392;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
.btn:hover {
    background-color: #8ebd7f;
}

