@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZJhiI2B.woff2) format('woff2');
}

body {
  font-family: 'Inter', sans-serif !important;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.green-text {
  color: #518c55;
}

.custom-navbar {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 5px solid black;
}

.custom-navbar img {
  width: 120px;
  height: 30px;
  border-radius: none;
}

.custom-nav-item {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.custom-nav-item:hover {
  background-color: #e0e0e0;
}

.custom-nav-item.custom-active {
  color: #4caf50;
}



.bold-text {
  font-weight: bold;
}

.green-color {
  color: rgb(3, 132, 35);
}



.header,
.photo,
.info,
.actions {
  width: 100%;
}

.info label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.info input,
.info textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.actions button {
  padding: 1rem 2rem;
  border: none;
  background: #ddd;
  cursor: pointer;
  margin: 1rem 0.5rem;
  flex-grow: 1;
}

.logotexto {
  border-radius: 0%;
}
/* Estilos para navbar móvel */

@media screen and (max-width: 768px) {
 .offcanvas-end{
width: 70% !important;
 }
.nav-item{
  font-size: small !important;
  padding: 10px 0px;
  text-align: left;
}
.navbar-brand img{
  width: 40px !important;
  height: 40px !important;
  object-fit: cover;
  border-radius: none !important;
}
.offcanvas-title img{
  width: 40px !important;
  height: 40px !important;
  object-fit: cover;
  border-radius: none !important;
}
}
.img-logo img{
  width: 40px !important;
  height: 40px !important;
  object-fit: cover;
  border-radius: none !important;
  border: none !important;
}/*Ajeita aq pf denizz*/

