{% extends "coletor_main.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/coletor_home.css' %}" type="text/css">
<div class="container mt-5">
    <div class="custom-profile-card">
        <div class="custom-profile-header text-center">
            <img src="{% static "images/profilepic.webp" %}" alt="Foto de perfil" class="custom-profile-img">
        </div>
        <div class="custom-profile-body text-center">
            <p><span class="bold-text">NOME DE USUÁRIO:</span> {{ coletor.usuario.username }}</p>
            <p><span class="bold-text">EMAIL:</span> {{ coletor.usuario.email }}</p>
            <p><span class="bold-text">COLETAS REALIZADAS:</span><span id="coletas_realizadas">{{coletor.coletas_realizadas}}</span></p>
            <p><span class="bold-text">PESO COLETADO:</span><span id="peso_coletado">{{coletor.peso_coletado}}</span>kg</p>
        </div>
    </div>
</div>
{%endblock content%}