{%extends "coletor_main.html" %}
    {%load static%}
    {%block content%}

<link rel="stylesheet" type="text/css" href="{% static 'css/melhor_rota.css'%}">

    <h1 class="display-4">Calcular Melhor Rota</h1> 


            <p>
                <a href="{% url 'melhor_rota' %}" class="btn btn-primary">Endereços precisando de coleta</a>
            </p>
<form method="get">
    <label for="tipo_residuo">Tipo de Resíduo:</label>
    <select name="tipo_residuo" id="tipo_residuo">
        <option value="">Todos</option>
        <option value="reciclaveis" {% if tipo_residuo_selecionado == 'reciclaveis' %}selected{% endif %}>Recicláveis</option>
        <option value="organicos" {% if tipo_residuo_selecionado == 'organicos' %}selected{% endif %}>Orgânicos</option>
        <option value="nao_reciclaveis" {% if tipo_residuo_selecionado == 'nao_reciclaveis' %}selected{% endif %}>Não Recicláveis</option>
    </select>

    <label for="domicilio">Domicílio:</label>
    <select name="domicilio" id="domicilio">
        <option value="">Todos</option>
        <option value="condomminio" {% if domicilio_selecionado == 'condomminio' %}selected{% endif %}>Condomínio</option>
        <option value="hospital" {% if domicilio_selecionado == 'hospital' %}selected{% endif %}>Hospital</option>
        <option value="escola" {% if domicilio_selecionado == 'escola' %}selected{% endif %}>Escola/Universidade</option>
        <option value="restaurante" {% if domicilio_selecionado == 'restaurante' %}selected{% endif %}>Restaurante</option>
    </select>

    <label for="bairro">Bairro:</label>
    <select name="bairro" id="bairro">
        <option value="">Todos</option>
        {% for bairro in bairros %}
            <option value="{{ bairro.id }}" {% if bairro_selecionado == bairro.id|stringformat:"s" %}selected{% endif %}>{{ bairro.nome }}</option>
        {% endfor %}
    </select>
    
    <button type="submit">Filtrar</button>
</form>
         
                {% for endereco in enderecos_brutos %}
                    <p>{{ endereco }}</p>
                {% endfor %}

            <form method="POST" action="{% url 'melhor_rota' %}" class="mt-3"> 
                {% csrf_token %}

            
                    <label for="localizacao_atual">Localização Atual:</label>
                    <input type="text" name="localizacao_atual" id="localizacao_atual" required class="form-control" />

                <input type="submit" value="Calcular Rota" class="btn btn-success" /> 
            </form>

            {% if rota_url %}
                <h2>Melhor Rota</h2>
                <p>A melhor rota para percorrer todos os endereços é:</p>
                <a href="{{ rota_url }}" target="_blank" class="btn btn-info">Abrir Rota no Google Maps</a>
                <ul class="list-group"> 
                    {% for endereco in melhor_permutacao %}
                    <li class="list-group-item">{{ endereco }}</li>
                    {% endfor %}
                </ul>

        <form method="POST" action="{% url 'esvaziar_lixeiras' %}">
            {% csrf_token %}
            {% for endereco in melhor_permutacao %}
                <input type="hidden" name="enderecos" value="{{ endereco }}">
            {% endfor %}
            <input type="submit" value="Esvaziar Lixeiras">
        </form>
            {% endif %}



            {% if error %}
       
            <div class="alert alert-danger mt-4"> 
                {{ error }}
            </div>
            {% endif %}
 

  
{%endblock content%}