{%extends "coletor_main.html" %}
{%block content%}
<!doctype html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Resíduos</title>
    <link rel="stylesheet" href="{% static 'css/seu_estilo.css' %}">
</head>
<body>

    <div class="content">
        <div class="card">
            <h2>LIXO RECICLÁVEL</h2>
            <img src="{% static 'images/lixo_reciclavel.jpg' %}" alt="Lixo Reciclável">
            <a href="{% url 'lixo_reciclavel' %}"><button>AVANÇAR</button></a>
        </div>
        <div class="card">
            <h2>LIXO ESPECIAL</h2>
            <img src="{% static 'images/lixo_especial.jpg' %}" alt="Lixo Especial">
            <a href="{% url 'lixo_especial' %}"><button>AVANÇAR</button></a>
        </div>
        <div class="card">
            <h2>LIXO ORGÂNICO</h2>
            <img src="{% static 'images/lixo_organico.jpg' %}" alt="Lixo Orgânico">
            <a href="{% url 'lixo_organico' %}"><button>AVANÇAR</button></a>
        </div>
    </div>

    <a href="{% url 'melhor_rota' %}">Melhor rota</a>

</body>
</html>
{% endblock content %}
