{% extends "cliente_main.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="profile-card">
        <div class="profile-header text-center">
            <img src="{{ cliente.foto_url }}" alt="Foto de perfil" class="profile-img">
        </div>
        <div class="profile-body text-center">
            <p><strong>Nome de usuário:</strong> {{ cliente.usuario.username }}</p>
            <p><strong>Email:</strong> {{ cliente.usuario.email }}</p>
        </div>
    </div>
</div>
{% endblock content %}
