{% extends "cliente_main.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/cliente_manutencao.css" %}">
    <div class="custom-help-container">
        <h3>AJUDA COM A LIXEIRA</h3>
        <form method="POST" id="form">
            {% csrf_token %}
            <label for="data_manutencao">Data:</label>
            <input type="date" name="data_manutencao" id="data_manutencao" required>
            <label for="tempo_manutencao">Horário:</label>
            <input type="time" name="tempo_manutencao" id="tempo_manutencao" required>
            <label for="lixeira">Lixeira:</label>
            <select name="lixeira" class="custom-select">
                {% for lixeira in lixeiras %}
                <option value="{{lixeira.id}}">{{lixeira.localizacao}}</option>
                {% endfor %}
            </select>
            <label for="motivo_manutencao">Motivo:</label>
            <input id="motivo_manutencao" name="motivo_manutencao" placeholder="Motivo" required></input>
            <button type="submit" class="custom-button">ENVIAR</button>
        </form>

        {% if messages %}
        <div class="custom-alert-container">
            {% for message in messages %}
            <div class="custom-alert {% if message.tags == 'success' %}custom-alert-success{% else %}custom-alert-danger{% endif %}"
                role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock content %}
