{% extends "admin_main.html" %}
{%load static%}
{% block content %}

<link rel="stylesheet" href="{% static 'css/admin_aviso.css' %}" type="text/css">
<div class="container">
    <h1 class="green-text text-center">Avisos sobre as lixeiras</h1>

    {% if manutencoes %}
    <h2 class="text-center">Pedidos de Manutenção</h2>
    <div class="row">
        {% for manutencao in manutencoes %}
        <div class="custom-card">
            <svg class="manutencao-icon"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
              </svg>
            <strong>Manutenção necessária!</strong>
            <p>Data: {{ manutencao.data_manutencao }}</p>
            <p>Horário: {{ manutencao.tempo_manutencao }}</p>
            <p>Motivo: {{ manutencao.motivo_manutencao }}</p>
            <p>Cliente: {{ manutencao.cliente }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="custom-card">
        <p>Nenhum pedido de manutenção encontrado</p>
    </div>
    {% endif %}

    {% if lixeiras_lotadas %}
    <h2 class="text-center">Pontos de coleta lotados</h2>
    <div class="row">
        {% for lixeira in lixeiras_lotadas %}
        <div class="custom-card">
            <svg class="lixo-cheio-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
              </svg>

            <strong>Lixo cheio!</strong>
            <p>Localização: {{ lixeira.lixeira.localizacao }}</p>
            <p>Progresso: {{ lixeira.lixeira.progresso_atual }}%</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="custom-card">
        <p>Nenhuma lixeira lotada encontrada</p>
    </div>
    {% endif %}
</div>

{% endblock content %}
