{%extends "main.html"%}

{%block content%}
<form method="get">
    <label for="tipo_residuo">Tipo de Resíduo:</label>
    <select name="tipo_residuo" id="tipo_residuo">
        <option id="todos" value="">Todos</option>
        <option id="reciclaveis" value="reciclaveis" {% if tipo_residuo_selecionado == 'reciclaveis' %}selected{% endif %}>Recicláveis</option>
        <option id="organicos" value="organicos" {% if tipo_residuo_selecionado == 'organicos' %}selected{% endif %}>Orgânicos</option>
        <option id="nao_reciclaveis" value="nao_reciclaveis" {% if tipo_residuo_selecionado == 'nao_reciclaveis' %}selected{% endif %}>Não Recicláveis</option>
    </select>

    <label for="domicilio">Domicílio:</label>
    <select name="domicilio" id="domicilio">
        <option id="todos" value="">Todos</option>
        <option id="condominio" value="condomminio" {% if domicilio_selecionado == 'condomminio' %}selected{% endif %}>Condomínio</option>
        <option id="Hospital" value="hospital" {% if domicilio_selecionado == 'hospital' %}selected{% endif %}>Hospital</option>
        <option id="escola" value="escola" {% if domicilio_selecionado == 'escola' %}selected{% endif %}>Escola/Universidade</option>
        <option id="restaurante"value="restaurante" {% if domicilio_selecionado == 'restaurante' %}selected{% endif %}>Restaurante</option>
    </select>
    
    <label for="bairro">Bairro:</label>
    <select name="bairro" id="bairro">
        <option value="">Todos</option>
        {% for bairro in bairros %}
            <option value="{{ bairro.id }}" {% if bairro_selecionado == bairro.id|stringformat:"s" %}selected{% endif %}>{{ bairro.nome }}</option>
        {% endfor %}
    </select>
    
    <button type="submit">Filtrar</button>
</form>
{%if lixeiras %}

<h2>Resultados</h2>
<ul>
{% for lixeira in lixeiras %}
<li>{{ lixeira.localizacao }} - {{ lixeira.tipo_residuo }} - {{ lixeira.domicilio }} - {{ lixeira.bairro.nome }}</li>
    {% endfor %}
</ul> 

{% else %}

    <h2> Nenhum resultado encontrado para busca </h2>

{% endif %}

{% endblock content %}