{% extends "admin_main.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_home.css' %}">

<form method="get" id="tabela-filtro">

    <label for="tipo_residuo">Tipo de Resíduo:</label>
    <select name="tipo_residuo" id="tipo_residuo">
        <option id="todos" value="">Todos</option>
        <option id="reciclaveis" value="reciclaveis" {% if tipo_residuo_selecionado == 'reciclaveis' %}selected{% endif %}>Recicláveis</option>
        <option id="organicos" value="organicos" {% if tipo_residuo_selecionado == 'organicos' %}selected{% endif %}>Orgânicos</option>
        <option id="nao_reciclaveis" value="nao_reciclaveis" {% if tipo_residuo_selecionado == 'nao_reciclaveis' %}selected{% endif %}>Não Recicláveis</option>
    </select>

    <label for="domicilio">Domicílio:</label>
    <select name="domicilio" id="domicilio">
        <option id="todos" value="">Todos</option>
        <option id="condominio" value="condominio" {% if domicilio_selecionado == 'condominio' %}selected{% endif %}>Condomínio</option>
        <option id="hospital" value="hospital" {% if domicilio_selecionado == 'hospital' %}selected{% endif %}>Hospital</option>
        <option id="escola" value="escola" {% if domicilio_selecionado == 'escola' %}selected{% endif %}>Escola/Universidade</option>
        <option id="restaurante" value="restaurante" {% if domicilio_selecionado == 'restaurante' %}selected{% endif %}>Restaurante</option>
    </select>

    <label for="bairro">Bairro:</label>
    <select name="bairro" id="bairro">
        <option value="">Todos</option>
        {% for bairro in bairros %}
            <option value="{{ bairro.id }}" {% if bairro_selecionado == bairro.id|stringformat:"s" %}selected{% endif %}>{{ bairro.nome }}</option>
        {% endfor %}
    </select>

    <div id="botao-filtro-container"><button type="submit" id="botao-filtro">Filtrar</button></div>
</form>

<h2 class="text-center green-text">LIXEIRAS CADASTRADAS</h2>

<div class="lixeiras-container">
    {% for lixeira in lixeiras %}
        <div class="lixeira-card">
            <span>EMAIL:</span> {{ lixeira.cliente.email }}<br>
            <span>TIPO DE RESÍDUO:</span> {{ lixeira.tipo_residuo }}<br>
            <span>DOMICÍLIO:</span> {{ lixeira.domicilio }}<br>
            <span>LOCALIZAÇÃO:</span> {{ lixeira.localizacao }}<br>
            <span>BAIRRO:</span> {{ lixeira.bairro }}<br>
            <span>CAPACIDADE MÁXIMA(KG):</span> {{ lixeira.capacidade_maxima }}<br>
            <span>Status de Manutenção:</span>
            {% if lixeira.status_manutencao %}
                <span class="text-danger">Sim</span>
            {% else %}
                <span class="text-success">Não</span>
            {% endif %}<br>
            <span>Progresso:</span>
            <div class="progress-bar">
                <div class="progress" id="progress-bar" style="width: 0%;"><strong>{{lixeira.get_progresso}}%</strong></div>
            </div>
        </div>
    {% endfor %}
</div>
<script>document.addEventListener("DOMContentLoaded", function () {
    const lixeiras = document.querySelectorAll(".lixeira-card");

    lixeiras.forEach(lixeira => {
        const progressBar = lixeira.querySelector(".progress");
        const progresso = parseInt(progressBar.textContent); // Obtém o progresso como um número inteiro
        const larguraMaxima = progressBar.parentElement.offsetWidth; // Obtém a largura máxima da barra de progresso

        // Calcula a largura da barra de progresso com base no progresso
        const larguraAtual = (progresso / 100) * larguraMaxima;

        // Define a largura da barra de progresso
        progressBar.style.width = larguraAtual + "px";
    });
}); </script>
{% endblock content %}
