{% load static %}
{% load i18n %}
<!doctype html>
<html lang="PT-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <title>Rec & Tech{% trans "Início" %}</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0 custom-bg">
  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <div class="container-fluid">
      <a href="{% url 'admin_home' %}" id="logo-lixeira" class="navbar-brand">
        <img class="logotexto" src="{% static 'images/text-logo.png' %}" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="{% url 'admin_perfil' %}" class="nav-link custom-nav-item bold-text" id="admin-perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'admin_home' %}" class="nav-link custom-nav-item bold-text" id="vizualizar_lixeira">Vizualizar lixeiras</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'cadastrar_lixeira' %}" class="nav-link custom-nav-item bold-text" id="cadastrar_lixeira">Cadastrar lixeiras</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'aviso_lixeira' %}" class="nav-link custom-nav-item bold-text" id="aviso_lixeira">Avisos</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'vizualizar_bairro' %}" class="nav-link custom-nav-item bold-text" id="vialuzar_bairro">Vizualização por bairro</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'admin_avaliacao' %}" class="nav-link custom-nav-item bold-text" id="avaliar_coleta">Avaliação das coletas</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link custom-nav-item bold-text" id="sair">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <script>
    document.querySelectorAll('.custom-nav-item').forEach(item => {
      if (item.href === window.location.href) {
        item.classList.add('custom-active');
      }
    });
  </script>
  {% block content %}
  {% endblock content %}
</body>
</html>
