{% extends "admin_main.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cadastrar_lixeira.css' %}">

<div class="custom-form-container">
  <form method="POST" action="{% url 'cadastrar_lixeira' %}">
    {% csrf_token %}

    <h2>Cadastro de Lixeira</h2>

    <label for="domicilio">Estabelecimento:</label>
    <select name="domicilio" id="domicilio" required>
      <option value="condominio" id="condominio">Condomínio</option>
      <option value="hospital" id="hospital">Hospital</option>
      <option value="escola" id="escola">Escola/Universidade</option>
      <option value="restaurante" id="restaurante">Restaurante</option>
    </select>

    <label for="localizacao">Localização:</label>
    <input type="text" name="localizacao" id="localizacao" placeholder="Digite a localização" required>

    <label for="bairro">Bairro:</label>
    <select name="bairro" id="bairro" required>
      <option value="">Selecione</option>
      {% if bairros %}
        {% for bairro in bairros %}
          <option value="{{ bairro.id }}" {% if bairro_selecionado == bairro.id|stringformat:"s" %}selected{% endif %}>{{ bairro.nome }}</option>
        {% endfor %}
      {% else %}
        <option value="">Nenhum bairro encontrado</option>
      {% endif %}
    </select>

    <label for="email">Selecione o proprietário</label>
    <select name="cliente" id="cliente-lixeira" required>
      {% for cliente in clientes %}
        <option value="{{ cliente.id }}">{{ cliente.usuario }}</option>
      {% endfor %}
    </select>

    <label for="tipo_residuo">Tipo de Resíduo:</label>
    <select name="tipo_residuo" id="tipo_residuo" required>
      <option value="reciclaveis">Reciclável</option>
      <option value="organicos">Orgânico</option>
      <option value="nao_reciclaveis">Não Reciclável</option>
    </select>

    <label for="capacidade_maxima">Capacidade Máxima (kg):</label>
    <input type="number"   min="0" step="0.01" name="capacidade_maxima" id="capacidade_maxima" placeholder="Capacidade máxima em kg" required>

    <label for="estado_atual">Estado Atual (kg):</label>
    <input type="number"min="0" step="0.01" name="estado_atual" id="estado_atual" placeholder="Estado atual em kg" required>

    <button type="submit">Cadastrar</button>
  </form>

  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if 'success' in message.tags %}alert-success{% else %}alert-danger{% endif %} mt-3">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock content %}
