{% extends "admin_main.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cadastrar_lixeira.css' %}">

 

<div class="form-container">
  <form method="POST" action="{% url 'cadastrar_lixeira' %}">
    {% csrf_token %}

    <h2>Cadastro de Lixeira</h2>
    <div id="tabela-cadastro">
    <label for="domicilio" class="form-label">Estabelecimento:</label>
    <select name="domicilio" id="domicilio" class="form-select" required>
      <option value="condominio" id="condominio">Condomínio</option>
      <option value="hospital" id="hospital">Hospital</option>
      <option value="escola" id="escola">Escola/Universidade</option>
      <option value="restaurante" id="restaurante">Restaurante</option>
    </select>

    <label for="localizacao" class="form-label">Localização:</label>
    <input type="text" name="localizacao" id="localizacao" class="form-control" placeholder="Digite a localização" required>

    <label for="bairro" class="form-label">Bairro:</label>
    <select name="bairro" id="bairro" class="form-select" required>
      <option value="">Todos</option>
      {% for bairro in bairros %}
        <option value="{{ bairro.id }}" {% if bairro_selecionado == bairro.id|stringformat:"s" %}selected{% endif %}>{{ bairro.nome }}</option>
      {% endfor %}
    </select>

    <label for="email" class="form-label">Email do Proprietário:</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Digite o email" required>

    <label for="tipo_residuo" class="form-label">Tipo de Resíduo:</label>
    <select name="tipo_residuo" id="tipo_residuo" class="form-select" required>
      <option value="reciclaveis">Reciclável</option>
      <option value="organicos">Orgânico</option>
      <option value="nao_reciclaveis">Não Reciclável</option>
    </select>

    <label for="capacidade_maxima" class="form-label">Capacidade Máxima (kg):</label>
    <input type="number" name="capacidade_maxima" id="capacidade_maxima" class="form-control" placeholder="Capacidade máxima em kg" required>

    <label for="estado_atual" class="form-label">Estado Atual (kg):</label>
    <input type="number" name="estado_atual" id="estado_atual" class="form-control" placeholder="Estado atual em kg" required>

    <label for="senha" class="form-label">Senha:</label>
    <input type="password" name="senha" id="senha" class="form-control" placeholder="Digite a senha" required>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>
  {% if messages %}
    {% for message in messages %}
      {% if 'success' in message.tags %}
        <div class="alert alert-success">
      {% else %}
        <div class="alert alert-danger">
      {% endif %}
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock content %}